<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <ul v-if="list.length > 0" :style="liStyle">
      <div v-for="(item, index) in list" :key="index">
          <li v-show="item.age > 18">
              姓名：{{item.name}}，年龄：{{item.age}}，位于数组中第：{{index}}
          </li>
      </div>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        liStyle: {
          color: 'red',
          textShadow: '0 0 10px yellowgreen'
        },
        list: [
          {
            name: "张三",
            age: 19
          },
          {
            name: "李四",
            age: 20
          },
          {
            name: "王五",
            age: 17
          },
          {
            name: "赵六",
            age: 23
          },
          {
            name: "马奇",
            age: 18
          }
        ]
      }
    });
  </script>
</body>
</html>